.container {
  padding: 0 1rem;
}

.itemList{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2rem;
}

.icon{
  cursor: pointer;
}

.list {
  padding: 0 12rem;
  list-style-type: none;
}
.modal{
  padding: 30px;
}