.container {
  padding: 0 2rem;
}


.listContainer{
  border: 1px solid red
}

.itemList{
  margin-bottom: 50px;
}

.icon{
  cursor: pointer;
}

.list {
  list-style-type: none;
}
.modal{
  padding: 30px;
}